table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#tags_table{
	width: 50%;
}

#contactsTable{
	width: 100%;
	
}

.hidden{
	visibility: hidden;
}

th, td{
	width: 33%;
}

table caption{
	font-size: 20px;
	text-align: center;
}

p.italic{
	font-style: italic;
}

.m-t-50{
	margin-top: 50px;
}
